SINGLEPAGE_HTTP_LISTEN=127.0.0.1:8080
SINGLEPAGE_HTTP_READ_HEADER_TIMEOUT=5s
SINGLEPAGE_HTTP_READ_TIMEOUT=20s
SINGLEPAGE_HTTP_WRITE_TIMEOUT=20s
SINGLEPAGE_HTTP_IDLE_TIMEOUT=60s
SINGLEPAGE_HTTP_SHUTDOWN_TIMEOUT=10s
SINGLEPAGE_METRICS_LISTEN=127.0.0.1:9090

SINGLEPAGE_SQLITE_DSN=./data.db
SINGLEPAGE_SQLITE_MAX_BYTES=536870912
SINGLEPAGE_PAGE_MAX_PAGES=100000
SINGLEPAGE_REQUEST_MAX_BODY_BYTES=16777216

SINGLEPAGE_CREATE_RATE_PER_SECOND=1
SINGLEPAGE_CREATE_BURST=20
SINGLEPAGE_ADMIN_RATE_PER_SECOND=1
SINGLEPAGE_ADMIN_BURST=5
SINGLEPAGE_TRUST_PROXY_HEADERS=false
SINGLEPAGE_ADMIN_TOKEN_FILE=

SINGLEPAGE_CORS_ALLOWED_ORIGINS=
SINGLEPAGE_CORS_ALLOWED_METHODS=GET,HEAD,POST,PUT,DELETE,OPTIONS
SINGLEPAGE_CORS_ALLOWED_HEADERS=Authorization,Content-Type
SINGLEPAGE_CORS_EXPOSED_HEADERS=X-Request-ID
SINGLEPAGE_CORS_ALLOW_CREDENTIALS=false
SINGLEPAGE_CORS_MAX_AGE=0s
